html {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #eeeeee;
    background-color: rgb(31, 40, 51);
}

body {
    margin: 0;
    padding: 10px;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    max-height: 475px;
    background: #fafafa;
    background-color: rgb(11, 12, 16);
    -webkit-box-shadow: 0px 0px 96px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 96px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 96px 0px rgba(0, 0, 0, 0.75);
    border-radius: 32px;
}

table {
    flex: 0 1 auto;
}

button {
    border-radius: 16px;
    color: rgb(0,255,255);
    background-color:rgb(102, 252, 241) ;
    border: 0;
    cursor: pointer;
    margin: 0.25em;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    height: 80;
    width: 80;
}

.num_but {
    background-color:#FF9933;
    border-radius: 48px;
    font-size: x-large;
}

.op_but {
    background-color: #002366;
    border-radius: 48px;
    font-size: x-large;
    color: #00FFFF;
}

input {
    border-radius: 16px;
    color: black;
    background-color: rgb(25, 118, 210);
    border: 0;
    cursor: pointer;
    margin: 0.25em;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    height: 80;
    width: 80;
}

input[type=text] {
    width: 96.6%;
    border-radius: 48px;
    font-size: 30px;
    background-color: #e0e0e0;
    color: rgb(25, 118, 210);
}

input[type=button]:active {
    background-color: rgb(203, 114, 151);
    box-shadow: 0 5px rgb(105, 159, 230);
    transform: translateY(4px);
}

input[type=button]:hover {
    background-color: rgb(235, 159, 124);
    color: white;
}